<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="/gangofcode/public/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" />
    <link href="/gangofcode/public/bootstrap/css/font.css" media="screen" rel="stylesheet" />
    <link href="/gangofcode/public/css/style.css" media="screen" rel="stylesheet" />
</head>
<body>
<nav class="navbar smallhead"
        >

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color:#5fcf80">
                Gang Of Code
        </div>
        <div id="navbar" class="collapse navbar-collapse">


            <ul class="nav navbar-nav pull-right" >


                <li ><a href="" >Colleges</a>
                </li>
                <li ><a href="" >Students</a>
                </li>
                <li ><a href="" >Corporate</a>
                </li>
                <li ><a href="" >How it works</a>
                <li ><a href="" >Contact Us</a>
                </li>
                <li ><a href="" >About Us</a>
                </li>

            </ul>


        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->

</nav><!-- /.navbar -->

<div class="container">
    <div class="row">

        <div class="col-md-10">

            <p>
            <h2>Our Mission </h2>
            <blockquote>Offer meticulous and high quality learning experience.</blockquote>
            </p>

            <hr>
            <p>
                We are a bunch of IITians who are passionate about making india a better place to learn and enhance your skill. It ranges
                from basic concepts of computer science to highly used cutting edge industry standard technology use to power websites
                like facebook, twitter etc.
            </p>

            <p>
                We believe that learning is not a one-time event but a lifelong experience. So on every stage of your career we provide
                more practical learning experience than mundane, theoretical, lethargic classes which works opposite way.
            </p>

            <p>
                We believe in high quality education and that's why our offering materials are thoroughly reviewed by highly qualified
                individuals who have real experience of industry working. It's Comprehensiveness is ensured by an extensive survey.
            </p>

            <p>
                The guys who are involved in product building are themselves having experience of working in IT industry for around 10
                years and more so we have some veteran from industry as advisers. So rest assured, you will get the most effective
                skill set that will shine your career as engineer.
            </p>

            <h1>
                Why us?
            </h1>

            <h3>For entry level</h3>
            <p>
                India produces large number of engineers that is not matched by the number of opportunities present. So obviously you
                got to be very good at concepts and skill set  that is in trend. The last thing that you want is to not get job because
                you lack basic knowledge of programming. We are here to help you hone your programming skill
                as well as building your basic computer science knowledge focusing on practical knowledge. It will help you bootstrap your
                career with more fuel of skill and knowledge that will give you a definite advantage in career.
            </p>


            <h3>Industry level training</h3>
            <p>
                We are living in a world where there is cut-throat competition. We must stay competent enough for our survival and  triumph.
                And for that to happen a continuous inflow of high quality training of cutting edge open source technology is must. We,
                having tested every flavour of technologies that is generally used, will help your resource to become leader rather than
                follower of some low class tutorial littered across the web. Whether you are a startup or established one, it will
                definitely boost your power to roar with more valour. Please visit <a href=""> Industry training </a> for the material that
                we cover.


            </p>
        </div>
    </div>
</div>

</body>
</html>

