.GOC-brand{
    font-weight: bolder;
    font-size: 24px;
}
.GOC-Gang{
    color: #4285F4;
}

.GOC-Of {
    color: #f0ad4e;
}

.GOC-Code {
    color: #f64f18;
}

.GOC-nav {
    border-bottom: 3px solid #F0AD4E;
}

.navbar-nav > li > a{
    color: #25A2D4 !important;
}

.jumbotron {
    color: #FFF;
    background-color: #0E5441;
}

.course{
    text-align: center;
}
.course a{
    text-decoration: none;
    color: #FFF;
    background: none no-repeat scroll center center transparent;
}

.course a:HOVER {
    opacity: .5;
    color:white;
}

.course .title {
    font-size: 150%;
    font-weight: 400;
    padding: 20px;
}

.course .hm{
    background-image: url("../img/placements.png");
    background-repeat: no-repeat;
    height: 200px;
    background-position: center center ;
    opacity: 0.52;
}

.course .coli{
    background-image: url("../img/placements.png");
}

.course .corpi{
    background-image: url("../img/corporate.jpg");
}

.course .skilli{
    background-image: url("../img/skill.jpg");
}



.college{
    background-color: #00a4b9;
}
.skill{
    background-color: #149671;
}
.corp{
    background-color: #ac4057;
}
.osp{
    background-color: #e7654e;
}